<!-- <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div> -->



<!-- <div class="cards-container" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center"> -->
 <!-- <div class="cards-container" fxLayout="row" >

      <mat-card *ngFor="let card of cards" >
        <mat-card-title><code>this is TESTT</code>Bootstrap</mat-card-title>
        <mat-card-subtitle>
          Responsive layout from battle tested, world most famous UI library
        </mat-card-subtitle>
        <mat-card-actions>
          <a mat-button href="#" target="_blank">
            <i class=""></i> Docs
          </a>
          <a mat-button href="#" target="_blank">
            <i class=""></i> Github
          </a>
        </mat-card-actions>
      </mat-card>
</div> -->
