

      <h1>Welcome ccc</h1>   
      <h2>Angular ngRx Material Starter Angular ngRx Material Starter</h2>


<div class="cards-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center strech">
  <mat-card *ngFor="let card of cards" >
      <mat-card-title><code>this is TESTT</code>Bootstrap</mat-card-title>
      <mat-card-subtitle>
        Responsive layout from battle tested, world most famous UI library
      </mat-card-subtitle>
      <mat-card-actions>
        <a mat-button href="#" target="_blank">
          <i class=""></i> Docs
        </a>
        <a mat-button href="#" target="_blank">
          <i class=""></i> Github
        </a>
      </mat-card-actions>
    </mat-card>
</div>