<mat-tab-group>
    <mat-tab label="General">
            <!-- <div class="page-load-animation">
                </div> -->
    </mat-tab>
  
    <mat-tab label="Notifications">
    </mat-tab>
    
    <mat-tab label="Profile">

        <div class="file-upload">
            <label for="file">File:</label>
            <input type="file" (change)="upload($event)" accept=".png,.jpg" />
            <!-- <progress max="100" [value]="(uploadProgress | async)"></progress>
            <div class="result" *ngIf="uploadURL | async; let uploadSrc">
              <a [href]="uploadSrc">You just uploaded this file!</a>
            </div> -->
        </div>

    </mat-tab>
</mat-tab-group>
